---
import WhoAmI from "../components/WhoAmI.astro";
import MainInfo from "../components/MainInfo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kevin Lopez">
    <div class="flex flex-col gap-80">
        <main class="text-white ml-5">
            <MainInfo />
        </main>
        <main class="text-white ml-5">
            <WhoAmI />
        </main>
    </div>
</Layout>
<!-- <Layout title="Kevin Lopez">
    <div class="snap-y snap-always snap-mandatory h-screen">
        <main class="text-white ml-5 mb-80 snap-start snap-always">
            <MainInfo />
        </main>
        <main class="text-white ml-5 mb-80 snap-start snap-always">
            <WhoAmI />
        </main>
    </div>
</Layout> -->
