---
import Layout from "../layouts/Layout.astro";
import MainInfo from "../components/MainInfo.astro";
import Cursor from "../ui/Cursor.astro";
---
<script src="../scripts/cursor-follower.js"></script>
<Layout title="Kevin Lopez">
	<Cursor/>
	<main class="text-white h-screen ml-5">
		<MainInfo />
	</main>
</Layout>