---
import WhoAmI from "../components/WhoAmI.astro";
import MainInfo from "../components/MainInfo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kevin Lopez">
    <main class="text-white ml-5 mb-80">
        <MainInfo/>
    </main>
    <main class="text-white ml-5">
        <WhoAmI/>
    </main>
</Layout>
