---
import FrameworksCatalog from "../components/FrameworksCatalog.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Services from "../components/Services.astro";
import WhoAmI from "../components/WhoAmI.astro";
import MainInfo from "../components/MainInfo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kevin Lopez">
    <div class="flex flex-col gap-10 lg:gap-72 2xl:gap-[30vh]">
        <main class="text-white xl:ml-5">
            <MainInfo />
        </main>
        <main class="text-white xl:ml-5">
            <WhoAmI />
        </main>
        <main class="text-white">
            <Services />
        </main>
        <main class="text-white">
            <Experience />
        </main>
        <main class="text-white">
            <Projects />
        </main>
        <main class="text-white">
            <FrameworksCatalog />
        </main>
    </div>
</Layout>
<!-- <Layout title="Kevin Lopez">
    <div class="snap-y snap-always snap-mandatory h-screen">
        <main class="text-white ml-5 mb-80 snap-start snap-always">
            <MainInfo />
        </main>
        <main class="text-white ml-5 mb-80 snap-start snap-always">
            <WhoAmI />
        </main>
    </div>
</Layout> -->
