---
import MainInfo from "../components/MainInfo.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Kevin Lopez">
    <main class="text-white h-screen ml-5 transition-all duration-1000"id="main-content">
        <MainInfo/>
    </main>
</Layout>
