---
interface Props {
    class: string;
    name: string;
    icon: string;
}

const { name, icon } = Astro.props;

const gradients = {
    "HTML5":               `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#E34F2685_100%)]`,
    "CSS3":                `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#1572B685_100%)]`,
    "FIGMA":               `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#7952B385_100%)]`,
    "JAVASCRIPT":          `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#F7DF1E85_100%)]`,
    "VITE":                `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#646CFF85_100%)]`,
    "REACT REDUX TOOLKIT": `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#764ABC85_100%)]`,
    "REACTJS":             `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#61DAFB85_100%)]`,
    "PNPM":                `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#F6922085_100%)]`,
    "NODE.JS":             `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#33993385_100%)]`,
    "TAILWIND CSS":        `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#06B6D485_100%)]`,
    "GIT":                 `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#F0503285_100%)]`,
    "VISUAL STUDIO CODE":  `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#007ACC85_100%)]`,
    "VISUAL STUDIO":       `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#5C2D9185_100%)]`,
    "GITHUB":              `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#74747485_100%)]`,
    "POSTMAN":             `[background:radial-gradient(125%_125%_at_50%_10%,#00000095_40%,#FF6C3785_100%)]`,
}

const borderColor = {
    "HTML5":               `border-[#E34F26]/20`,
    "CSS3":                `border-[#1572B6]/20`,
    "FIGMA":               `border-[#7952B3]/20`,
    "JAVASCRIPT":          `border-[#F7DF1E]/20`,
    "VITE":                `border-[#646CFF]/20`,
    "REACT REDUX TOOLKIT": `border-[#764ABC]/20`,
    "REACTJS":             `border-[#61DAFB]/20`,
    "PNPM":                `border-[#F69220]/20`,
    "NODE.JS":             `border-[#339933]/20`,
    "TAILWIND CSS":        `border-[#06B6D4]/20`,
    "GIT":                 `border-[#F05032]/20`,
    "VISUAL STUDIO CODE":  `border-[#007ACC]/20`,
    "VISUAL STUDIO":       `border-[#5C2D91]/20`,
    "GITHUB":              `border-[#747474]/20`,
    "POSTMAN":             `border-[#FF6C37]/20`,
}
---

<article
    class={`
    ${Astro.props.class}
    pointer-events-none
    relative rounded-xl
    border-2 ${ borderColor[name] }
    p-10
    flex justify-center items-center
    shadow-lg
    shadow-black/40
`}
>
<div class={`absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 ${ gradients[name] } rounded-[10px]`}></div>
    <img src={icon} alt={`${name} logo`} class="absolute h-5/6 opacity-60" />
    <h3 class={`absolute font-black text-xl text-center xl:text-6xl ${ (name === 'REACT REDUX TOOLKIT') ? 'w-[10ch]' : ''  }`}>{name}</h3>
</article>
