<script src="../scripts/hover-effect.js"></script>

<div>
    <div class="flex flex-col justify-start items-start xl:ml-5 mb-10">
        <h2
            class="text-4xl
        sm:text-5xl
        md:text-6xl
        lg:text-8xl
        font-black
        text-full
        max-w-[70vw]
        2xl:text-[8vw]
        min-[2600px]:text-[6vw]
        2xl:max-w-[70vw]
        pointer-events-none
        uppercase"
        >
            Let's talk
        </h2>
        <h5 class="text-xl lg:text-3xl text-white/40 ml-1">
            Trust in i can think outside the box
        </h5>
    </div>
    <div class="flex flex-wrap justify-center items-center gap-3 mb-14">
        <a
            class="bg-white/[0.08] w-52 hover:bg-white/20 transition-all duration-150 h-52 flex justify-center items-center p-14 rounded-lg cursor-none"
            href="https://twitter.com/coofcoding"
            target="_blank"
            rel="noreferrer noopener"
            id="_twitterHover"
        >
            <div class="pointer-events-none">
                <img
                    src="../../public/contact/twitter.png"
                    alt="twitter logo"
                />
            </div>
        </a>
        <a
            class="bg-white/[0.08] hover:bg-white/20 transition-all duration-150 w-52 h-52 flex justify-center items-center p-14 rounded-lg cursor-none"
            href='mailto:"coofcoding@gmail.com"'
            target="_blank"
            rel="noreferrer noopener"
            id="_gmailHover"
        >
            <div class="pointer-events-none">
                <img src="../../public/contact/gmail.png" alt="gmail logo" />
            </div>
        </a>
        <a
            class="bg-white/[0.08] hover:bg-white/20 transition-all duration-150 w-52 h-52 flex justify-center items-center p-14 rounded-lg cursor-none"
            href="https://www.linkedin.com/in/kevinlopezd/"
            target="_blank"
            rel="noreferrer noopener"
            id="_linkedinHover"
        >
            <div class="pointer-events-none">
                <img
                    src="../../public/contact/linkedin.png"
                    alt="linkedin logo"
                />
            </div>
        </a>
        <a
            class="bg-white/[0.08] hover:bg-white/20 transition-all duration-150 w-52 h-52 flex justify-center items-center p-14 rounded-lg cursor-none"
            href="https://github.com/coofcoding"
            target="_blank"
            rel="noreferrer noopener"
            id="_githubHover"
        >
            <div class="pointer-events-none">
                <img src="../../public/contact/github.png" alt="github logo" />
            </div>
        </a>
        <a
            class="bg-white/[0.08] hover:bg-white/20 transition-all duration-150 w-52 h-52 flex justify-center items-center p-14 rounded-lg cursor-none"
            href="https://www.instagram.com/k3vin.lz/"
            target="_blank"
            rel="noreferrer noopener"
            id="_igHover"
        >
            <div class="pointer-events-none">
                <img src="../../public/contact/ig.png" alt="ig logo" />
            </div>
        </a>
    </div>
</div>
