---
// Supports weights 400-700
import "@fontsource-variable/dancing-script";
---

<script>
    const pointer = document.querySelector("#_pointerTexture");
    const button = document.querySelector("#_mouse-over-effect");

    button.addEventListener('mouseover', () => {
        pointer.classList.replace("w-3", "w-12");
        pointer.classList.replace("h-3", "h-12");
        pointer.classList.add('bg-white');
    })
    
    button.addEventListener('pointerleave', () => {
        pointer.classList.replace("w-12", "w-3");
        pointer.classList.replace("h-12", "h-3");
        pointer.classList.remove('bg-white');
    })


</script>
<div
    class="flex flex-col h-screen w-screen justify-center text-left items-center text-white"
>
    <div class="text-5xl">
        <h3 class="_cursive-txt text-7xl text-white/30">Protip</h3>
        <h4 class="font-bold text-5xl mb-3" transition:name="media-player">scroll & discover ;)</h4>
        <a
            class="text-xl bg-white text-black font-bold p-3 rounded-md cursor-none transition-all duration-500 hover:bg-black/50 hover:text-white"
            id="_mouse-over-effect"
            href="/portfolio">go for it!</a
        >
    </div>
</div>

<style>
    ._cursive-txt {
        font-family: "Dancing Script Variable", cursive;
    }
</style>
