---
// Supports weights 400-700
import '@fontsource-variable/dancing-script';
---

<div class="flex flex-col h-screen w-screen justify-center text-left items-center text-white">
    <div class="text-5xl">
        <h3 class="_cursive-txt text-7xl text-white/30">
            Protip
        </h3>
        <h4 class="font-bold text-5xl">
            scroll & discover ;)
        </h4>
    </div>
</div>

<style>
    ._cursive-txt {
        font-family: 'Dancing Script Variable', cursive;
    }
</style>