---
import FrameworksPills from "./FrameworksPills.astro";

interface Props {
    name: string;
    description: string;
    exampleImg: string;
    frameworks: Object[];
}

const { name, description, exampleImg, frameworks } = Astro.props;
---

<div class="mt-4 ml-2 lg:ml-10 flex flex-col lg:flex-row items-center justify-between">
    <div class="w-full xl:w-1/2">
        <h4
            class="text-[#A46D55] mb-3 font-extrabold text-6xl 2xl:text-8xl min-[2000px]:text-[12rem]"
        >
            {name}
        </h4>
        <p
            class="text-xl min-[2000px]:text-5xl min-[2000px]:mb-6 min-[2000px]:leading-[4rem] text-wrap font-light text-white/70"
        >
            {description}
        </p>
        <div class="flex items-center gap-2 flex-wrap mt-4">
            {
                frameworks.map( pill => (
                <FrameworksPills
                    frameworkName = { pill.frameworkName }
                    img = { pill.img }
                />
                ))
            }
        </div>
    </div>
    <img
        src={exampleImg}
        loading="lazy"
        alt={`Example of ${name}`}
        class="pointer-events-none w-1/2"
    />
</div>
