<div class="h-screen flex flex-col">
  <img
    src="../../public/effect.png"
    class="absolute -z-10 pointer-events-none w-[70vw] -translate-y-32 right-0 mix-blend-plus-lighter"
  />
  <h2
    class="text-5xl sm:text-6xl xl:ml-5 md:text-7xl lg:text-9xl font-black text-full max-w-[70vw] 2xl:text-[14vw] 2xl:max-w-[70vw] pointer-events-none _title-stroke uppercase"
  >
    Sevices
  </h2>
  <span class="text-2xl xl:ml-5 2xl:text-[3vw] text-white/40 2xl:my-8 2xl:ml-10"
    >what i offer?</span
  >

  <div
    class="flex items-center justify-center flex-col md:flex-row gap-[20%] my-6"
  >
    <div class="flex flex-col gap-5">
      <div class="relative pointer-events-none">
        <div class="flex items-center justify-start">
          <img
            class="pointer-events-none 2xl:w-[10vw]"
            src="../../public/intuitive.svg"
          />
          <span class="text-2xl 2xl:text-[2vw]">Intuitive designs</span>
        </div>
        <img
          class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 -translate-x-5 2xl:-translate-x-20"
          src="../../public/left-line.png"
        />
      </div>
      <div class="relative pointer-events-none">
        <div class="flex items-center justify-start">
          <img
            class="pointer-events-none 2xl:w-[10vw]"
            src="../../public/creative.svg"
          />
          <span class="text-2xl 2xl:text-[2vw]">Creative solutions</span>
        </div>
        <img
          class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 -translate-x-5 2xl:-translate-x-20"
          src="../../public/left-line.png"
        />
      </div>
      <div class="relative pointer-events-none">
        <div class="flex items-center justify-start">
          <img
            class="pointer-events-none 2xl:w-[10vw]"
            src="../../public/uncommon.svg"
          />
          <span class="text-2xl 2xl:text-[2vw]">Uncommon ideas</span>
        </div>
        <img
          class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 -translate-x-5 2xl:-translate-x-20"
          src="../../public/left-line.png"
        />
      </div>
    </div>
    <div class="flex flex-col gap-5">
      <div class="relative pointer-events-none">
        <div class="flex items-center justify-end">
          <span class="text-2xl 2xl:text-[2vw]">Critical analysis</span>
          <img
            class="pointer-events-none 2xl:w-[10vw]"
            src="../../public/critical.svg"
          />
        </div>
        <img
          class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 translate-x-5 2xl:translate-x-20"
          src="../../public/right-line.png"
        />
      </div>
      <div class="relative pointer-events-none">
        <div class="flex items-center justify-end">
          <span class="text-2xl 2xl:text-[2vw]">Optimistic energy</span>
          <img
            class="pointer-events-none 2xl:w-[10vw]"
            src="../../public/optimistic.svg"
          />
        </div>
        <img
          class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 translate-x-5 2xl:translate-x-20"
          src="../../public/right-line.png"
        />
      </div>
      <div class="relative pointer-events-none">
        <div class="flex items-center justify-end">
          <span class="text-2xl 2xl:text-[2vw]">Thorough work</span>
          <img
            class="pointer-events-none 2xl:w-[10vw]"
            src="../../public/thorough.svg"
          />
        </div>
        <img
          class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 translate-x-5 2xl:translate-x-20"
          src="../../public/right-line.png"
        />
      </div>
    </div>
  </div>
</div>
