<div class="h-screen flex flex-col">
    <img
        loading="lazy"
        src="./bg&effects/effect.avif"
        class="absolute -z-10 pointer-events-none w-[70vw] -translate-y-32 right-0 mix-blend-plus-lighter"
    />
    <h2
        class="text-5xl sm:text-6xl xl:ml-5 md:text-7xl lg:text-9xl font-black text-full max-w-[70vw] 2xl:text-[14vw] 2xl:max-w-[70vw] pointer-events-none _title-stroke uppercase"
    >
        Sevices
    </h2>
    <span
        class="text-2xl xl:ml-5 2xl:text-[3vw] text-white/40 2xl:my-8 2xl:ml-10"
        >what i offer?</span
    >

    <div
        class="flex items-center justify-center flex-col md:flex-row gap-[20%] my-6"
    >
        <div class="flex flex-col gap-5">
            <div class="relative pointer-events-none">
                <div class="flex items-center justify-start">
                    <img
                        loading="lazy"
                        class="pointer-events-none 2xl:w-[10vw]"
                        src="./servicesIcons/intuitive.svg"
                    />
                    <span class="text-2xl 2xl:text-[2vw]"
                        >Intuitive designs</span
                    >
                </div>
                <img
                    loading="lazy"
                    class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 -translate-x-5 2xl:-translate-x-20"
                    src="./assets/left-line.avif"
                />
            </div>
            <div class="relative pointer-events-none">
                <div class="flex items-center justify-start">
                    <img
                        loading="lazy"
                        class="pointer-events-none 2xl:w-[10vw]"
                        src="./servicesIcons/creative.svg"
                    />
                    <span class="text-2xl 2xl:text-[2vw]"
                        >Creative solutions</span
                    >
                </div>
                <img
                    loading="lazy"
                    class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 -translate-x-5 2xl:-translate-x-20"
                    src="./assets/left-line.avif"
                />
            </div>
            <div class="relative pointer-events-none">
                <div class="flex items-center justify-start">
                    <img
                        loading="lazy"
                        class="pointer-events-none 2xl:w-[10vw]"
                        src="./servicesIcons/uncommon.svg"
                    />
                    <span class="text-2xl 2xl:text-[2vw]">Uncommon ideas</span>
                </div>
                <img
                    loading="lazy"
                    class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 -translate-x-5 2xl:-translate-x-20"
                    src="./assets/left-line.avif"
                />
            </div>
        </div>
        <div class="flex flex-col gap-5">
            <div class="relative pointer-events-none">
                <div class="flex items-center justify-end">
                    <span class="text-2xl 2xl:text-[2vw]"
                        >Critical analysis</span
                    >
                    <img
                        loading="lazy"
                        class="pointer-events-none 2xl:w-[10vw]"
                        src="./servicesIcons/critical.svg"
                    />
                </div>
                <img
                    loading="lazy"
                    class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 translate-x-5 2xl:translate-x-20"
                    src="./assets/right-line.avif"
                />
            </div>
            <div class="relative pointer-events-none">
                <div class="flex items-center justify-end">
                    <span class="text-2xl 2xl:text-[2vw]"
                        >Optimistic energy</span
                    >
                    <img
                        loading="lazy"
                        class="pointer-events-none 2xl:w-[10vw]"
                        src="./servicesIcons/optimistic.svg"
                    />
                </div>
                <img
                    loading="lazy"
                    class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 translate-x-5 2xl:translate-x-20"
                    src="./assets/right-line.avif"
                />
            </div>
            <div class="relative pointer-events-none">
                <div class="flex items-center justify-end">
                    <span class="text-2xl 2xl:text-[2vw]">Thorough work</span>
                    <img
                        loading="lazy"
                        class="pointer-events-none 2xl:w-[10vw]"
                        src="./servicesIcons/thorough.svg"
                    />
                </div>
                <img
                    loading="lazy"
                    class="mix-blend-lighten pointer-events-none w-96 2xl:w-[30vw] -translate-y-3 2xl:-translate-y-10 translate-x-5 2xl:translate-x-20"
                    src="./assets/right-line.avif"
                />
            </div>
        </div>
    </div>
</div>
