<div>
    <h2>I'M KEVIN LOPEZ</h2>
    <p>
        +3 years learning web development and practicing the web design looking
        innovative User Experience. Actually learning React.js to take my skills
        to another level.
    </p>
</div>
