<div class="h-screen ml-4 flex flex-col justify-center">
    <img loading="lazy" class="opacity-20 absolute -z-10 mix-blend-plus-lighter right-0 w-[60vw]" src="./assets/photo.avif" alt="kevin lopez photo">
    <span class="text-end -translate-x-6 translate-y-4 leading-[100%] -z-[1] text-[#00000050] uppercase absolute flex items-center justify-end font-black text-[25vw] h-full w-full">Who am i ?</span>
    <span class="text-end -translate-x-10 -translate-y-0 leading-[100%] -z-[1] text-[#00000000] uppercase absolute flex items-center justify-end font-black text-[25vw] h-full w-full _bg-text-stroke">Who am i ?</span>
    <h2 class="text-5xl sm:text-6xl md:text-7xl lg:text-9xl font-black  max-w-[70vw] 2xl:text-[14vw] 2xl:max-w-[70vw] pointer-events-none _title-stroke uppercase">
        I'M KEVIN LOPEZ
    </h2>
    <p class="text-2xl text-[2vw] leading-relaxed max-w-[50vw] font-normal mb-2 2xl:ml-8">
        <span class="text-orange-400 underline  transition-all duration-200 underline-offset-2 hover:underline-offset-8">+3 years learning web development</span> and practicing the web design looking for
        innovative <span class="text-rose-500">User Experience.</span>
    </p>
    <p class="text-xl text-[1.7vw] 2xl:text-[2vw] leading-relaxed max-w-[50vw] text-white/30 2xl:ml-8 font-normal">Actually learning React.js to take my skills to another level.</p>
</div>

<style>
    ._title-stroke {
        -webkit-text-stroke: 2px #fff;
    }
    ._bg-text-stroke {
        -webkit-text-stroke: 3px #ffffff08;
    }
</style>
