---
// COMPONENTS / IMPORTATIONS
import { ViewTransitions } from "astro:transitions";
import Cursor from "../ui/Cursor.astro";

// FONTS
import "@fontsource/lato/100.css";
import "@fontsource/lato/300.css";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";
import "@fontsource/lato/900.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Welcome, this is my personal portfolio where you'll can see some of the projects that i made, the technologies with i frecuently work and some technologies that i didn't still use today."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body transition:animate="fade">
		<script src="../scripts/cursor-follower.js"></script>
		<Cursor />
		<slot />
	</body><!-- GLOBAL STYLES -->
	<style is:global>
		:root {
		}
		#logo {
			opacity: 0 !important;
		}
		html {
			cursor: none;
			font-family: system-ui, sans-serif;
			background: #000000;
			background-size: 224px;
		}
		body {
			background-image: url("./public/noisee.png");
			overflow: hidden;
			font-family: "Lato", sans-serif;
		}
		::-moz-selection {
			/* Code for Firefox */
			color: rgb(36, 36, 36);
			background: rgb(0, 0, 0);
		}

		::selection {
			color: rgb(36, 36, 36);
			background: rgb(0, 0, 0);
		}
	</style>
</html>
